body {
    font-size: 20px;
    font-weight: bold;
    animation-name: fadein;
    animation-duration: 3s;
    animation-iteration-count: 1;
    text-align: center;
}
@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.uk-h3 {
    color: #092b60;
}

.contents {
    font-size: 15px;
}
/* 参考  https://web-ashibi.net/archives/1952 */